name: Docker Build and Release
on: [ push ]
env:
  #### An dieser Stelle müssen eure persönlichen Umgebungsvariablen eingetragen werden
  # Tipp: Die Token/der API-Key werden als Secrets in den Repository-Settings eingetragen und hier referenziert.
  # Test
  GITHUB_ACCESSTOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - name: Compile, build and push
        env:
          IMAGE: ghcr.io/moritzf3/pet-clinic:latest
        run: |
          mvn clean package
          echo "${GITHUB_ACCESSTOKEN}" | docker login ghcr.io -u moritzf3 --password-stdin
          docker build -t "${IMAGE}" .
          docker push "${IMAGE}"
